body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.text {
  padding: 15px;
  border-radius: 15px;
  background-color: darkblue;
  font-size: 22px;
  font-family: 'Arial', sans-serif;
}
