body {
  display: grid;
  grid-template-areas: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.text {
  padding: 15px;
  border-radius: 15px;
  background-color: darkblue;
  font-size: 22px;
  font-family: 'Arial', sans-serif;
}

@supports (position: sticky) {
  body {
    position: sticky;
  }
}
